<div class="card my-4">
  <div class="card-header">
    <h2>Create New Post</h2>
  </div>
  <form id="new-post-form" class="card-body">
    <label for="post-title" class="form-label">Title</label>
    <input type="text" class="form-control" name="post-title">
    <label for="post-body" class="form-label">Content</label>
    <textarea name="post-body" class="form-control"></textarea>
    <button type="submit" class="btn btn-dark mt-2">Create</button>
  </form>
</div>

<script src="/js/new.js"></script>