<div class="card my-4">
  <div class="card-header">
    <h2>Login</h2>
  </div>
  <form id="login-form" class="card-body">
    <label for="username-input-login" class="form-label">Username</label>
    <input type="text" class="form-control" id="username-input-login">
    <label for="password-input-login" class="form-label">Password</label>
    <input type="password" class="form-control" id="password-input-login">
    <button type="submit" id="login-btn" class="btn btn-primary mt-2">Log in!</button>
    <br><a type="button" class="card-link mt-2 fw-bold" href="/signup">Sign up instead</a>
  </form>
</div>

<script src="/js/login.js"></script>